/**
 * SCSS Components
 *
 * Styling for the site can be included here, or split into multiple files.
 * 
 */

/**
 * Sections
 */

.section {
	padding: $spacing 0;
	@include mq-xsmall-max {
		padding: $spacing/2 0;
	}
}

.section--tight {
	padding: $spacing/2 0;
	@include mq-xsmall-max {
		padding: $spacing/3 0;
	}
}

/**
 * Headings
 */

.section-heading {
	@include standard-ui-text;
	overflow: hidden;
	margin-bottom: $spacing;
	font-size: 16px;
	&:first-child {
		margin-top: 0;
	}
	&:after {
		border-top: 4px dotted black;
		content: "";
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 100%;
		left: 0.5em;
		margin-right: -50%;
	}
}

/**
 * Buttons
 */

.rounded-button {
	@include standard-ui-text;
	display: inline-block;
	margin-bottom: 8px;
	background-color: $text-color;
	color: white;
	text-transform: none;
	letter-spacing: 0;
	padding: 10px 40px;
	border-radius: 30px;
	&:hover, &:active, &:focus {
		background-color: $brand-primary;
		color: white;
		text-decoration: none;
	}
	&:active {
		background-color: darken($brand-primary, 10%);
	}
	&:not(:last-child){
		margin-right: $spacing/4;
	}
	@include mq-xsmall-max {
		padding: 10px 25px;
		&:not(:last-child){
			margin-right: 8px;
		}
	}
}

.rounded-button--primary {
	background-color: $brand-primary;
	&:hover, &:active, &:focus {
		background-color: darken($brand-primary, 15%);
		color: white;
		text-decoration: none;
	}
	&:active {
		background-color: darken($brand-primary, 25%);
	}
}

/**
 * Containers
 */

.constrained-width {
	max-width: 620px;
	margin: 0 auto;
}

.constrained-width--wider {
	max-width: 800px;
}

/**
 * Main Header
 */

.main-header {
	border-top: 13px solid $brand-primary;
	padding-top: $spacing;
	@include mq-xsmall-max {
		padding-top: $spacing/2;
	}
}

.main-menu {
	@include standard-ui-text;
	text-align: center;
}

.main-menu__item {
	display: inline-block;
	&:not(:last-child){
		&:after {
			padding: 0 $spacing/4;
			content: '·';
			color: black;
			opacity: 0.35;
			@include mq-xsmall-max {
				padding: 0 $spacing/7;
			}
		}
	}
}

.main-menu__link {
	color: black;
	opacity: 0.35;
	&:hover, &:active, &:focus {
		opacity: 1;
		color: black;
		text-decoration: none;
	}
}

.current-menu-item .main-menu__link {
	opacity: 1;
}

/**
 * Main Footer
 */

.main-footer {
	background-color: lighten($gray-lighter, 2%);
	text-align: center;
}

.main-footer__top {
	padding: $spacing/2 0 0 0;
}

.main-footer__bottom {
	padding: $spacing/5 0;
}

.footer-menu {
	
}

.footer-menu__item {
	@include standard-ui-text;
	font-size: 10px;
	color: rgba($text-color, 0.4);
	display: inline-block;
	&:not(:last-child){
		&:after {
			content: '·';
			padding: 0 $spacing/6;
		}
	}
}

.footer-menu__link {
	color: $text-color;
	&:hover, &:active, &:focus {
		color: $text-color;
	}
}

/**
 * Footer Social Links
 */

.footer-social__link {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: white;
	background-color: $gray-light;
	border-radius: 50%;
	&:hover, &:active, &:focus {
		color: white;
		text-decoration: none;
		background-color: darken($gray-light, 10%);
		transform: scale(1.15);
	}
}

/**
 * Page Components
 */

.single-main {
	padding-bottom: $spacing;
}

.single-header {
	text-align: center;
	padding: $spacing 0;
	@include mq-xsmall-max {
		padding: $spacing/1.5 0;
	}
}

.single-title {
	font-size: 60px;
	margin: 0;
	@include mq-xsmall-max {
		font-size: 35px;
	}
}

.single-subtitle {
	font-family: $font-family-sans-serif;
	color: $brand-primary;
	margin: $spacing/6 0 0 0;
}

.single-content {
	max-width: 620px;
	margin: 0 auto;
}

/**
 * Home Page
 */

.home-wrapper {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	align-items: center;
	padding: $spacing 0;
	@include mq-xsmall-max {
		padding: $spacing/1.5 0;
	}
}

.home-wrapper__left {
	padding: 0 $spacing/2;
	flex-shrink: 1;
	@include mq-small-max {
		display: none;
	}
}

.home-wrapper__right {
	padding: 0 $spacing/2;
	@include mq-xsmall-max {
		padding: 0;
	}
}

.home .single-header {
	padding-top: 0;
}

.home .single-main {
	padding-bottom: 0;
}

/**
 * Work Samples Pages
 */

.work-sample-anchors {
	text-align: center;
	@include mq-xsmall-max {
		text-align: left;
	}
}

.work-samples-list {
	margin-bottom: $spacing/2;
}

.work-sample {
	display: flex;
	&:not(:last-child){
		margin-bottom: $spacing/2;
	}
}

.work-sample__image {
	width: 100px;
	height: 100px;
	display: inline-block;
	background-size: cover;
	background-position: center center;
	margin-right: $spacing/2;
	background-image: url('../assets/img/placeholder-image.svg');
	@include mq-xsmall-max {
		width: 60px;
		height: 60px;
		margin-right: $spacing/3;
	}
}

.work-sample__title, .work-sample__title a {
	margin: 0 0 $spacing/4 0;
	font-size: 21px;
	font-weight: 700;
	color: $text-color;
	font-family: $font-family-serif;
	@include mq-xsmall-max {
		margin: 0 0 $spacing/6 0;
		font-size: $font-size-small;
	}
}

.work-sample__meta {
	@include standard-ui-text;
	text-transform: none;
	letter-spacing: 0;
	color: $brand-primary;
	font-size: $font-size-small*0.85;
	color: lighten($gray-light, 20%);
	@include mq-xsmall-max {
		font-size: $font-size-small*0.7;
	}
}

/**
 * Resume
 */

.resume__heading {
	@include standard-ui-text;
	border-top: 3px solid $text-color;
	padding-top: $spacing/6;
	margin-bottom: $spacing/1.5;
	&:not(:first-child){
		margin-top: $spacing*1.5;
	}
}

.resume__entry {
	&:not(:last-child){
		margin-bottom: $spacing/1.5;
	}
}

.resume__entry-heading {
	display: flex;
	font-family: $font-family-serif;
	align-items: flex-end;
	@include mq-xsmall-max {
		display: block;
	}
}

.resume__employer {
	font-size: $font-size-base*1.1;
	flex-grow: 1;
	font-weight: 700;
	@include mq-xsmall-max {
		margin-bottom: 10px;
	}
}

.resume__duration {
	font-size: $font-size-small;
	color: rgba(black, 0.5);
}

.resume__job-title {
	font-family: $font-family-serif;
	font-style: italic;
	font-size: $font-size-base;
}

.resume__entry-description {
	font-size: $font-size-small;
	@include mq-xsmall-max {
		font-size: $font-size-small*0.9;
	}
}

