<footer class="main-footer" id="main-footer">

	<div class="container-fluid">

		{% block footer_social %}

			<div class="main-footer__top">

				<div class="footer-social">

					<a href="https://twitter.com/MichelleHarven" class="footer-social__link">
						<i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span>
					</a>

					<a href="https://www.youtube.com/user/iamsoundmich" class="footer-social__link">
						<i class="fa fa-youtube"></i> <span class="sr-only">YouTube</span>
					</a>

					<a href="https://www.linkedin.com/in/michelle-harven-b94b984a/" class="footer-social__link">
						<i class="fa fa-linkedin"></i> <span class="sr-only">LinkedIn</span>
					</a>

				</div>

			</div>

		{% endblock %}

		{% if footer_menu %}

			<div class="main-footer__bottom">

				<nav class="footer-menu" role="navigation">
					<ul class="footer-menu__list">
						<li class="footer-menu__item">
							&copy; {{ 'now'|date('Y') }} Michelle Harven
						</li>
						{% for item in footer_menu.items %}
							<li class="footer-menu__item {{ item.classes|join(' ') }}">
								<a class="footer-menu__link" href="{{ item.url }}">
									{{ item.title }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</nav>

			</div>

		{% endif %}

	</div>

</footer>